{% extends 'base.html.twig' %}

{% block title %} episodes {% endblock %}

{% block body %}
   <article id="episodes">   
        <h1> episode {{episode + 1}} : </h1>
        <iframe src={{ saison.episodes[episode] }} allowfullscreen="allowfullscreen" width="800" height="500" frameborder="0"></iframe>      
    </article>
    <article id="move_button">
        {% if episode != 0 %}
            <a href="{{ path('episodes_in_saison', {'id': saison.id, 'episode' : episode - 1})}}" class="btn btn-primary">previous episode </a>
        {% elseif episode == 0 and prev_saison != NULL and prev_saison.animeAndSeries.id == saison.animeAndSeries.id %}
             <a href="{{ path('episodes_in_saison', {'id': saison.id - 1, 'episode' : 0})}}" class="btn btn-primary">previous saison </a>
        {% endif %} 
        {% if episode != nb_episode %}
            <a href="{{ path('episodes_in_saison', {'id': saison.id, 'episode' : episode + 1})}}" class="btn btn-primary">next episode </a>
        {% elseif episode == nb_episode and next_saison != NULL and next_saison.animeAndSeries.id == saison.animeAndSeries.id %}
            <a href="{{ path('episodes_in_saison', {'id': saison.id + 1, 'episode' : 0})}}" class="btn btn-primary">next saison </a>
        {% endif %}  
    </article>
     <section>    
        {% if not app.user %}
            <section id="please_connect">
                <h2 class="no_comment">You must be connected if you want to write a comment!</h2>
                <a href="{{ path('login') }}" class="btn btn-primary">Connect !</a>
            </section>    
        {% else %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.author, {'attr': {'placeholder': "your name"}})}}
            {{ form_row(commentForm.content, {'attr': {'placeholder': "write a comment"}})}}
            {{ form_row(commentForm.episode, {'attr': {'placeholder': "which episode"}})}}            
            <button type="submit" class="btn btn-success">Push</button>      
            {{ form_end(commentForm) }}
            <hr></hr>
        {% endif %}    
    </section>
    <section id="comment">
    <h1> {{ saison.commentEpisodes | length }} Comments : </h1>    
    {% for comment in saison.commentEpisodes %}
        <div class="comment_option">
                <div class="row">
                        <div class="col-3">
                           <p> {{ comment.author }} : <p> <small> {{ comment.createdAt | date ('d/m/y at H:i')}} </small>
                        </div>
                        <div class="col">
                            <p> {{ comment.content | raw }} </p>
                        </div>
                </div>
        </div>
    {% endfor %}          
{% endblock %}
