{% extends 'base.html.twig' %}

{% block title %} {{ animes_series.title }} {% endblock %}

{% block body %}
    <section id="description_series">
        <article>
            <h2> {{ animes_series.Title }} : </h2>
            <div class="content">
                <img src={{ animes_series.Image }} width="250" height="350">
                <div class="metadata">Created at : {{animes_series.CreatedAt | date ('d/m/y')}}</div>
                <h3> Synopsis : </h3> 
                <p> {{ animes_series.synopsis | raw }} </p>                                 
            </div>
        </article>                
    </section> 
    <section id="saisons">
    {% set i = 1 %}
        {% for episode in animes_series.saison %}
            <a href="{{ path('episodes_in_saison', {'id': episode.id})}}" class="btn btn-primary">Saison {{i}}</a>
            {% set i = i + 1 %}
        {% endfor %}    
    </section>  
   {% endblock %}